
<article [routerLink]="['/workshop/service/' + this.articleID]" (mouseover)="this.over = true;" (mouseout)="this.over = false;">

    <div [ngClass]="{'bg-gray-300': this.over}" class="flex cursor-pointer rounded-lg" style="transition: all .50s">
        <div class="bg-cover mx-4 bg-center border-gray-700 border shadow-md cursor-pointer" style="{{'width: 150px;height: 150px;background-image:url(\'' + image + '\')'}}"></div>

        <div class="grid">
            <label class=" text-gray-900 font-bold text-lg cursor-pointer">{{title}}</label>
            <label class=" text-gray-700 text-sm">{{description}}</label>
            <label class=" text-black font-bold ">$ {{(price | number) + " " + currencyCode}}</label>
            <label class=" text-gray-700 text-sm">By: <a [routerLink]="['/workshop/user/' + this.user]"><span hr class=" text-teal-700 font-semibold cursor-pointer hover:underline">{{user}}</span></a></label>
            <label class=" text-gray-600 text-sm">{{'Category' | translate}}: {{categories}}</label>

        </div>
    </div>
</article>

